html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lawngreen;
}


.download {
    background-color: lawngreen;
}

.table-bordered {
    background-color: black;
    color: lawngreen;
}
